@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.green-gradient {
  background: rgb(54,173,47);
  background: radial-gradient(circle, #36ad2f 0%, rgba(0,0,0,1) 100%, rgba(67,108,75,1) 100%);  
}

.black-gradient {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.nav-gradient {
  background: linear-gradient(180deg, #070707 0%, rgba(7, 7, 7, 0) 100%);
}